.stat-cell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    border-radius: 4px;
    padding: 12px 8px 12px 8px;
    border-width: 2px;
    border-style: solid;
    border-color: #444444;
}

.stat-line {
    margin: 0px;
    font-size: 12px;
}

.equipment-cell {
    display: flex;
    border-width: 1px;
    border-style: solid;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
}

.stat-line.name {
    max-width: 120px;
}

.stat-line.value {
    max-width:80px;
}