.equipment-layout-grid {
    display: grid;
    grid-template-areas: 
    "Ring1       .         Hat             .                    Emblem"
    "Ring2       Pendant   FaceAccessory   .                    Badge"
    "Ring3       Pendant2  EyeAccessory    Earring              Medal"
    "Ring4       Weapon    Top             ShoulderDecoration   SecondaryWeapons"
    "PocketItem  Belt      Bottom          Glove                Cape"
    ".           .         Shoes           .                    MechanicalHeart";
    grid-template-columns: repeat(5, 36px);
    grid-template-rows: repeat(6, 36px);
    gap: 2px 2px;
    justify-content: center;
}

.Ring1 {
    grid-area: Ring1;
}

.Ring2 {
    grid-area: Ring2;
}

.Ring3 {
    grid-area: Ring3;
}

.Ring4 {
    grid-area: Ring4;
}

.PocketItem {
    grid-area: PocketItem;
}

.Pendant {
    grid-area: Pendant;
}

.Pendant2 {
    grid-area: Pendant2;
}

.Weapon {
    grid-area: Weapon;
}

.Belt {
    grid-area: Belt;
}

.Hat {
    grid-area: Hat;
}

.FaceAccessory {
    grid-area: FaceAccessory;
}

.EyeAccessory {
    grid-area: EyeAccessory;
}

.Top {
    grid-area: Top;
}

.Bottom {
    grid-area: Bottom;
}

.Shoes {
    grid-area: Shoes;
}

.Earring {
    grid-area: Earring;
}

.ShoulderDecoration {
    grid-area: ShoulderDecoration;
}

.Glove {
    grid-area: Glove;
}

.Emblem {
    grid-area: Emblem;
}

.Badge {
    grid-area: Badge;
}

.Medal {
    grid-area: Medal;
}

.SecondaryWeapons {
    grid-area: SecondaryWeapons;
}

.Cape {
    grid-area: Cape;
}

.MechanicalHeart {
    grid-area: MechanicalHeart;
}

.equipment-cell {
    display: flex;
    border-width: 1px;
    border-style: solid;
    background-color: #777777;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
}

.undefined-border {
    border-color: #777777;
}

.equipment-cell-image {
    height: 28px;
    width: 28px;
    object-fit: contain; /* or 'cover' depending on the effect you want */
    display: block;
}