.character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    margin: 8px;
    flex-grow: 1;
}

.character-card-job-image {
    border-radius: 8px;
    background-color: rgba(22,22,22,0.5);
    width: 100%;
    height: 100%;
    padding: 8px 8px 8px 8px;
}

.character-card-image {
    height: 64px;
    width: 64px;
    object-fit: scale-down; /* or 'cover' depending on the effect you want */
    display: block;
    grid-template-areas: character-image;
}

.character-card-line-text {
    margin: 0;
}

.character-card-basic-info-container {
    display: flex;
    flex-direction: row;
    grid-template-areas: character-basic-info-container;
    gap: 8px;
}

.character-info-grid {
    display: grid;
    grid-template-areas: 
    "character-image character-basic-info";
    grid-template-columns: 20px auto 20px;
    width: 100%;
    background-color: rgba(33,33,33,0.9);
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 8px;
    gap: 8px;
    position: relative;
}

.character-basic-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.character-name {
    font-size: 14px;
    margin: 0px;
}

.character-detailed-info {
    width: 100%;
    height: 300px;
    background-color: rgba(33,33,33,0.9);
    border-radius: 8px;
}

.character-card-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.character-card-image-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.character-card-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    position:absolute;
    z-index: 9;
    width: 60px;
    bottom:8px;
    right: 8px
}

.character-card-logo-image {
    height: 14px;
    width: 14px;
}

.character-card-logo {
    cursor: pointer;
}