.character-card-logo-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 4px;
    position:absolute;
    z-index: 98;
    width: 80px;
    bottom:8px;
    right: 16px;
}

.character-card-logo-image {
    height: 14px;
    width: 14px;
}

.character-card-logo {
    cursor: pointer;
}
