.App {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    height: 496px;
    width: 318px;
    padding: 12px;
    overflow-x: hidden;
}

p {
    color:white;
    font-size: 12px;
}

.nexon-credit {
    margin-top: 4px;
    margin-bottom: 0px;
    text-align: center;
}