.tooltip {
    background-color: rgba(22, 22, 22, 0.9);
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 2px solid white;
    border-radius: 8px;
    width: 280px;
    max-height: 480px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}

.tooltip-text {
    margin: 0px;
}