.error-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.error-gif {
    height: 120px;
    width: 120px;
}

.error-text {
    font-size: 12px;
    color: white;
    text-align: center;
    margin: 0px;
}